@media (max-width: 860px) {
    .main {
        flex-direction: column;
    }

    .main .informacao {
        width: 500px;
        padding: 10px 10px 10px 0;
        margin-left: 140px;
        margin-bottom: 10px;
    }
}

@media (max-width: 430px) {
    .main .informacao {
        width: 300px;
        margin-left: 0;
    }

    .main .informacao .titulo {
        font-size: 15px;
    }

    .main .informacao .texto {
        font-size: 10px;
    }

    .main .form {
        width: 300px;
    }
}